body {
  margin: 0;
  font-family: Helvetica;
  border: dashed 1px red;
}

.wrapper {
  margin: auto;
  width: 80%;
  border: dashed 1px red;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo,
.menu {
  display: inline-block;
}

.logo {
  margin-right: 63%;
  padding: 40px 0;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 13px;
  border: dashed 1px red;
}

.menu__item:last-child {
  padding-right: 0;
}
